@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* БАЗОВЫЕ СТИЛИ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(176, 0, 0);
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.btn {
  padding: 15px;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
}

button.btn {
  color: #fff;
  border: none;
  font-size: 1.1rem;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  overflow: hidden;
  font-size: 1.1rem;
}

.header__background,
.header__background-fill {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header__background {
  background: linear-gradient(
    0deg,
    rgb(176, 0, 0) 0%,
    rgba(176, 0, 0, 0.98) 15%,
    rgba(176, 0, 0, 0.92) 30%,
    rgba(176, 0, 0, 0.82) 43%,
    rgba(176, 0, 0, 0.67) 57%,
    rgba(176, 0, 0, 0.48) 71%,
    rgba(176, 0, 0, 0.28) 84%,
    rgba(176, 0, 0, 0) 100%
  );
  z-index: -1;
}

.header__background-fill {
  background-image: url(./images/back1.jpg);
  z-index: -2;
}

.header__list {
  display: flex;
  gap: 20px;
}

.header__list a.active {
  opacity: 1;
}

.header__list a {
  opacity: 0.5;
}

.header__list a:hover {
  opacity: 1;
}

.header__logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: auto;
}

.basket {
  opacity: 0.5;
}

.basket:hover {
  opacity: 1 !important;
}

.basket.btn.active {
  opacity: 1;
}

.sign-in:hover {
  box-shadow: 0 0 5px 5px #00000028;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  opacity: 1 !important;
}

/* ПРИВЕТСТВЕННАЯ СТРАНИЦА */
.welcome {
  height: calc(100vh - 170px);
  position: relative;
}

.welcome__title {
  font-size: 3em;
}

.welcome__desc {
  font-size: 1.2em;
  color: #fff;
}

.welcome__background-fill,
.welcome__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.welcome__background-fill {
  background-image: url(./images/back2.jfif);
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  -moz-box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  opacity: 0.5;
  filter: blur(15px);
}

.welcome__background {
  -webkit-box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  -moz-box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  box-shadow: 0px 0px 93px 97px rgba(176, 0, 0, 1) inset;
  z-index: -1;
}

.welcome__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.welcome__text-container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.welcome__text-container div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.welcome .btn {
  font-size: 1.5em;
}

.welcome__desc {
  text-shadow: 0 0 0 5px #000;
  line-height: 1.6;
}

.products__slider-slider {
  height: 600px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff3e #b00000;
}

.welcome__image:hover {
  transform: scale(1.05);
}

.slider-item {
  height: 100%;
  width: 20%;
  flex-shrink: 0;
  background-color: #6c03035f;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.slider-item__img-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider-item__preview {
  height: 100%;
  object-fit: contain;
}
.slider-item__preview:hover {
  transform: scale(1.1);
}

.slider-item__panel {
  background-color: #dbdbdb00;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  gap: 15px;
  border-radius: 10px 10px 0 0;
}

.products__slider-title {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.products__slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.products__title {
  font-size: 3em;
  color: #fff;
}

.products__container {
  margin-bottom: 30px;
}

.products__list {
  font-size: 1.5rem;
}

.slider-item__panel-title {
  font-size: 1em;
  font-weight: 600;
}
.slider-item__panel-title:hover,
.grid-item__name:hover,
.products__list-item:hover {
  opacity: 0.5;
}

.slider-item__panel-cost {
  font-size: 1.5em;
}

.btn:hover {
  opacity: 0.7;
}

.products__grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid-item {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-item__image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.grid-item__link {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
}

.grid-item__panel {
  line-height: 1.7rem;
}

.grid-item__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.grid-item__cost {
  color: #fff;
  font-weight: 400;
}

.footer {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(176, 0, 0, 1) 0%,
    rgba(164, 0, 0, 1) 8.1%,
    rgba(151, 0, 0, 1) 15.5%,
    rgba(133, 0, 0, 1) 24.1%,
    rgba(113, 0, 0, 1) 33%,
    rgba(91, 0, 0, 1) 43.1%,
    rgba(68, 0, 0, 1) 54.4%,
    rgba(45, 0, 0, 1) 67.8%,
    rgba(23, 0, 0, 1) 83.3%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
  padding: 40px 0;
  margin-top: auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__disclaimer {
  font-style: italic;
  opacity: 0.7;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer__copyright {
  font-size: 0.8rem;
  opacity: 0.5;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 1;
  text-decoration: underline;
}

/* EXAMPLE PRODUCTS VISUALS */
.product__visuals {
  flex-shrink: 0;
  height: 500px;
  width: 500px;
  background: #ffffff5c;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.product__main-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product__main-image:hover {
  transform: scale(1.05);
}

.product__variants {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.product__variant {
  height: 20%;
  object-fit: contain;
  background-color: #ffffff54;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.product__variant--active {
  background-color: #ffffffcf;
  border: 5px solid #ffffff;
  opacity: 1;
}

.product__variant:hover,
.product__variant--active:hover {
  opacity: 1;
}

.product {
  display: flex;
  gap: 50px;
  color: #fff;
}

.product__info {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.product__info-container {
  height: 400px;
  overflow-y: scroll;
}

.product__info-container::-webkit-scrollbar {
  width: 0;
}

.product__price {
  font-weight: 500;
  font-size: 2rem;
}

.product__characteristics {
  width: 100%;
}

.product__visuals {
  flex-shrink: 0;
  height: 500px;
  width: 500px;
  background: #ffffff5c;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.product__main-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product__main-image:hover {
  transform: scale(1.05);
}

.product__variants {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.product__variant {
  height: 20%;
  object-fit: contain;
  background-color: #ffffff54;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.product__variant--active {
  background-color: #ffffffcf;
  border: 5px solid #ffffff;
  opacity: 1;
}

.product__variant:hover,
.product__variant--active:hover {
  opacity: 1;
}

.product {
  display: flex;
  gap: 50px;
  color: #fff;
}

.product__info {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.product__info-container {
  height: 400px;
  overflow-y: scroll;
}

.product__info-container::-webkit-scrollbar {
  width: 0;
}

.product__price {
  font-weight: 500;
  font-size: 2rem;
}

.product__characteristics {
  width: 100%;
}

.product__characteristics-row td {
  border-bottom: 1px solid #ffffff5b;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product__characteristics-label b {
  opacity: 0.5;
}

.product__actions {
  height: 100%;
  width: 30%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #00000011;
  padding: 15px;
  border-radius: 15px;
}

.product__group {
  width: 100%;
  display: flex;
  gap: 5px;
}

.product__btn-buy {
  width: 100%;
  text-align: center;
  background-color: #ffd900;
}

.product__visuals {
  flex-shrink: 0;
  height: 500px;
  width: 500px;
  background: #ffffff5c;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.product__main-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product__main-image:hover {
  transform: scale(1.05);
}

.product__variants {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.product__variant {
  height: 20%;
  object-fit: contain;
  background-color: #ffffff54;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.product__variant--active {
  background-color: #ffffffcf;
  border: 5px solid #ffffff;
  opacity: 1;
}

.product__variant:hover,
.product__variant--active:hover {
  opacity: 1;
}

.product {
  display: flex;
  gap: 50px;
  color: #fff;
}

.product__info {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.product__info-container {
  height: 400px;
  overflow-y: scroll;
}

.product__info-container::-webkit-scrollbar {
  width: 0;
}

.product__price {
  font-weight: 500;
  font-size: 2rem;
}

.product__characteristics {
  width: 100%;
}

.product__characteristics-row td {
  border-bottom: 1px solid #ffffff5b;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product__characteristics-label b {
  opacity: 0.5;
}

.product__actions {
  height: 100%;
  width: 30%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #00000011;
  padding: 15px;
  border-radius: 15px;
}

.product__group {
  width: 100%;
  display: flex;
  gap: 5px;
}

.product__btn-buy {
  width: 100%;
  text-align: center;
  background-color: #ffd900;
  color: #000;
  font-weight: 600;
}

.product__tabs-btn,
.product__btn-installment {
  flex-grow: 1;
}

.product__btn-installment {
  background-color: #000000;
}

.product__tabs {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.info-section .container > * {
  display: none;
  color: #fff;
}

.info-section__description {
  font-size: 1.2rem;
}

.btn.product__tabs-btn.active {
  background-color: #ffff00;
  color: #000;
}

.product__delivery {
  padding: 10px;
  background-color: #0000002f;
  width: 100%;
  border-radius: 10px;
}

.product__delivery-section-icon {
  height: 30px;
  filter: invert(1);
  opacity: 0.8;
}

.product__delivery-section {
  display: flex;
  gap: 5px;
  align-items: center;
}

.product__delivery-sections {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffffff1e;
  padding-bottom: 5px;
}

.product__info {
  position: relative;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 500px;
}

.product__header {
  flex-shrink: 0;
}

.product__info-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product__info-container::-webkit-scrollbar {
  width: 0;
}

.product__tabs-btn.active {
  display: block;
}

.info-section__more {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* unkownProduct */
.unkown_product-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.unkown_product-container h1 {
  font-weight: 500;
}

/* basket */
.basket_container {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  color: #f2f2f2;
}

.basket_container p {
  margin-bottom: 20px;
}
